%table.table.responsive.text-center{id: 'table_desing'}
  %thead
    %th Name
    %th Description
    %th Edit
    %th Show
    %th Delete
  %tbody
    - if @type_products.any?
      = render partial: 'type_products/type_product', collection: @type_products 
    - else
      %tr
        %td.text-center Not found type_products
