%table.table.responsive.text-center{id: 'table_desing'}
  %thead
    %th=t('common_texts.name')
    %th=t('common_texts.description')
    %th=t('buttons.edit')
    %th=t('buttons.show')
    %th=t('buttons.delete')
  %tbody
    - if @type_products.any?
      = render partial: 'type_products/type_product', collection: @type_products 
    - else
      %tr
        %td.text-center=t('type_products.not_found')
