<div class="show-user">
    <div class="row">
        <div class="col-4">
            <h1><%= t('type.products.labels.name') %>: <%= @type_product['name'] %></h1>
        </div> 
        <div class="col-4">
            <h1><%= t('type.products.labels.description') %>: <%= @type_product['description'] %></h1>
        </div>
    </div>
</div>