%table.table.table-responsive.text-center
  %thead
    %th=t('common_texts.client')
    %th=t('common_texts.user')
    %th=t('common_texts.price')
    %th=t('common_texts.extra_charge')
    %th=t('common_texts.date_initial')
    %th=t('common_texts.date_finished')
    %th=t('common_texts.date_create')
  %tbody
    - if @payments.any?
      = render partial: 'payments/payment', collection: @payments 
    - else
      %tr
        %td.text-center=t('payments.not_found')
