#modalConfirmSale.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}

  %div.modal-dialog.modal-dialog-centered{role: "document"}
    %div.modal-content
      %div.customize-modal
        %div.modal-header
          %button.close{type: "button", 'data-dismiss' => "modal", 'aria-label' => "Close"}
            %span{'aria-hidden': "true"}>&times;
        %div.modal-body
          %h1.body= t('modals.confirm_sale.amount_total')
          %h1.body-subtitle{id: "amount_total"}
          %h1.body= t('modals.confirm_sale.total_items')
          %h1.body-subtitle{id: "total_products"}
          %h1.body= t('modals.confirm_sale.member_id')
          %h1.body-subtitle{id: "member_id_modal"}

        %div.modal-footer
          %button.btn.btn-login{id: 'send_sale_modal'}
            = t('modals.confirm_sale.send_sale')

