%table.table.responsive.text-center{id: 'table_desing'}
  %thead
    %th User
    %th Email
    %th Total
    %th Created
    %th Show
  %tbody
    - if @sales.any?
      = render partial: 'sales/sale', collection: @sales 
    - else
      %tr
        %td.text-center Not found sales
