%table.table.responsive.text-center{id: 'table_desing'}
  %thead
    %th=t('common_texts.user')
    %th=t('common_texts.email')
    %th=t('common_texts.total')
    %th=t('common_texts.date_create')
    %th=t('buttons.show')
  %tbody
    - if @sales.any?
      = render partial: 'sales/sale', collection: @sales 
    - else
      %tr
        %td.text-=t('sales.not_found')
